<header class="w-100 position-sticky top-0 py-3 px-3 bg-primary row m-auto z-2">
    <div class="col-2">
        <img src="tareas-diarias (1).png" alt="logo" class="logo-img">
    </div>
    <div class="col-7 text-start p-0">
        <h1 class="text-white display-6">Tareas Diarias</h1>
    </div>
    <nav [class.active]="showNav">
        <a class="text-white d-block mb-2 text-decoration-none">Inicio </a>
        <a class="text-white d-block mb-2 text-decoration-none">Lista de Tareas</a>
        <a class="text-white d-block text-decoration-none">Contacto</a>
        <button type="button" (click)="toggleNav()">
            <i class="bi bi-x-lg"></i>
        </button>
    </nav>
    <div class="col-3 d-flex align-items-center justify-content-center">
        <button class="btn btn-warning w-40 h-40" (click)="toggleNav()">
            <i class="bi bi-list"></i>
        </button>
    </div>
</header>
